<% if cached_recently_viewed_products.any? %>
  <div id="recently_viewed" class="mt-4" data-hook>
    <h3 class="product-section-title"><%= Spree.t(:recently_viewed_products) %></h3>

    <div id="recently_viewed_products" class="card-deck">
      <% cached_recently_viewed_products.each do |product| %>
        <%= link_to product_path(product), class: 'border p-2 mb-3 text-decoration-none d-flex flex-column h-10 w-10' do %>
          <div class="card-img-wrapper">
            <%= product_image(product, class: 'card-img-top img-fluid') %>
          </div>
          <div class="card-body d-flex flex-column flex-grow-1">
            <h5 class="card-title mb-2"><%= product.name %></h5>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
